.Home-image {
    /* make it responsive */
    max-width: 100%;
    height: auto;
    display: block;
    /* div height to be the same as width*/
    padding: 25% 0% 0% 25%;

    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;

    background-image: url("../../public/shopping.jpg");
}

.Home-titleContainer {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.Home-title {
    text-align: center;
    font-size: 60px;
}